*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

ul {
  margin: 0;
  padding-left: 40px;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feed li:not(:last-child) {
  margin-bottom: 32px;
}

.feed img {
  /* transform: translateX(-50%); */
  transform: rotateY(90deg);
  opacity: 0;
  transition: all 1200ms cubic-bezier(0.4, -0.16, 0.09, 1.51); /* linear */
  width: 640px;
  height: 480px;
  object-fit: cover;
}

.feed img.appear {
  /* transform: rotateX(0); */
  transform: rotateY(0);
  opacity: 1;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}
